html, body {
    height: 100%;
    background: #7c3c25 url(img/outback.jpg) no-repeat fixed center center / cover
}

body {
    padding-bottom: 1rem;
}

.featurette-divider {
    margin: 1rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 0.1rem;
    }
}
